{% extends "base.html" %}

{% block content %}
<meta charset="utf-8">
<h2 align='center'>ЛОГИ ВЫПОЛНЕНИЯ РАБОТ</h2>
{% for  job in jobs %}
<h3> Action # {{ job.id }}</h3>
<div class="table_container">
    <table class="job_table">
        <tr class="row">
            <td class="title" bgcolor="#dddddd">Name of Job</td>
            <td class="title" bgcolor="#dddddd">Leader name</td>
            <td class="title" bgcolor="#dddddd">Duration</td>
            <td class="title" bgcolor="#dddddd">Collaborators</td>
            <td class="title" bgcolor="#dddddd">Is_finished</td>
        </tr>
        <tr class="row">
            <td class="value">{{ job.job }}</td>
            <td class="value">{{ names[job.teamleader][0] }} {{ names[job.teamleader][1] }}</td>
            <td class="value">{{ job.work_size }}</td>
            <td class="value">{{ job.collaborators }}</td>
            <td class="value">{{ job.is_finished }}</td>
        </tr>
    </table>
</div>
<br>
{% if current_user.is_authenticated and current_user.id == job.teamleader or current_user.id == 1  %}
<div>
    <a href="/jobs/{{ job.id }}" class="btn btn-warning">Редактировать</a>
    <a href="/job_delete/{{ job.id }}" class="btn btn-danger">Удалить</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}